@model TripTrak.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

@if (Model.StartDate == Model.EndDate)
{
    <div>@Html.DisplayFor(modelItem => modelItem.StartDate)</div>
}
else
{
    <div>@Html.DisplayFor(modelItem => modelItem.StartDate) - @Html.DisplayFor(modelItem => modelItem.EndDate)</div>
}

<div>
    @Html.DisplayFor(model => model.Notes)
</div>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
<hr />

<div><a asp-controller="Cities" asp-action="Create" asp-route-tripId="@Model.Id">Add City</a></div>
<div>
    @foreach (var city in Model.Cities)
    {
        <div>
            <a asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id">@Html.DisplayFor(modelItem => city.Name)</a>
        </div>
        @if (city.StartDate == city.EndDate)
        {
            <div>@Html.DisplayFor(modelItem => city.StartDate)</div>
        }
        else
        {
            <div>@Html.DisplayFor(modelItem => city.StartDate) - @Html.DisplayFor(modelItem => city.EndDate)</div>
        };
    }
</div>
