@model IEnumerable<TripTrak.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>My Trips</h1>

<p>
    <a asp-action="Create">Add Trip</a>
</p>

@foreach (var item in Model)
{
<div class="trip_card">
    <hr />
    <div class="d-flex justify-content-between">
        <div>
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            <div class="date">
                @if (item.StartDate == item.EndDate)
                {
                    @Html.DisplayFor(modelItem => item.StartDate)
                }
                else
                {
                    <span>@Html.DisplayFor(modelItem => item.StartDate)-@Html.DisplayFor(modelItem => item.EndDate)</span>
                }
            </div>
        </div>
        <div>
            <a asp-controller="Cities" asp-action="Create" asp-route-tripId="@item.Id">Add City</a>
            <br />
            <span class="small_links"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span>
        </div>
    </div>



    <div>
        @Html.DisplayFor(modelItem => item.Notes)
    </div>

    <div class="row cities_container">
        @foreach (var city in item.Cities)
        {
            <div class="col-md-2 city_card">
                <a asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id">
                    <div>
                        @Html.DisplayFor(modelItem => city.Name)
                    </div>
                    <div class="date">
                        @if (city.StartDate == city.EndDate)
                        {
                            @Html.DisplayFor(modelItem => city.StartDate)
                        }
                        else
                        {
                            <span>@Html.DisplayFor(modelItem => city.StartDate) - @Html.DisplayFor(modelItem => city.EndDate)</span>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>
}
