@model IEnumerable<TripTrak.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>My Trips</h1>

<p>
    <a asp-action="Create">Add Trip</a>
</p>

@foreach (var item in Model)
{
    <hr />
    <h4>
        @Html.DisplayFor(modelItem => item.Name)
    </h4>
   
    @if (item.StartDate == item.EndDate)
    {
    <div>@Html.DisplayFor(modelItem => item.StartDate)</div>
    }
    else
    {
    <div>@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</div>
    };

    <div>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Notes)
    </div>
    <div>
        @foreach (var city in item.Cities)
        {
            <div>
                <a asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id">@Html.DisplayFor(modelItem => city.Name)</a>
            </div>
            @if (city.StartDate == city.EndDate)
            {
                <div>@Html.DisplayFor(modelItem => city.StartDate)</div>
            }
            else
            {
                <div>@Html.DisplayFor(modelItem => city.StartDate) - @Html.DisplayFor(modelItem => city.EndDate)</div>
            };
        }
    </div>
}
