@model IEnumerable<TripTrak.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>My Trips</h1>
    <div>
        <a asp-contoller="Trips" asp-action="Create" class="btn btn-primary">Add Trip</a>
    </div>
</div>

@foreach (var item in Model)
{
<div class="trip_card">
    <div class="d-flex justify-content-between flex-wrap">
        <div>
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            <div class="date-md">
                @if (item.StartDate == item.EndDate)
                {
                    @Html.DisplayFor(modelItem => item.StartDate)
                }
                else
                {
                    <span>@Html.DisplayFor(modelItem => item.StartDate)-@Html.DisplayFor(modelItem => item.EndDate)</span>
                }
            </div>
        </div>
        <div class="text-center my-2 my-sm-0">
            <asp asp-controller="Cities" asp-action="Create" asp-route-tripId="@item.Id" class="btn btn-secondary btn-sm">Add City</asp>
            <br />
            <span class="small_links"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span>
        </div>
    </div>

    <div class="notes col-12 col-sm-10 px-0">
        @Html.DisplayFor(modelItem => item.Notes)
    </div>

    <div class="row cities_container">
        @foreach (var city in item.Cities)
        {
            <div class="col-md-2 city_card">
                <a asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id">
                    <h6>
                        @Html.DisplayFor(modelItem => city.Name)
                    </h6>
                    <div class="date-sm">
                        @if (city.StartDate == city.EndDate)
                        {
                            @Html.DisplayFor(modelItem => city.StartDate)
                        }
                        else
                        {
                            <span>@Html.DisplayFor(modelItem => city.StartDate) -<br />@Html.DisplayFor(modelItem => city.EndDate)</span>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>
}
