@model TripTrak.Models.City

@{
    ViewData["Title"] = "Details";
}

@*@Html.DisplayFor(model => model.ImageUrl)*@

@{string startDate = "";}
@{string endDate = "";}

@if (@Model.StartDate != null)
{
    startDate = Model.StartDate.Value.ToString("MMM d");
}

@if (@Model.EndDate != null)
{
    endDate = Model.EndDate.Value.ToString("MMM d");
}

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <div>
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <div><strong>Trip:</strong> @Html.DisplayFor(model => model.Trip.Name)</div>
        <div class="date-md">
            @if (startDate == endDate)
            {
                <span><strong>Visited:</strong> @startDate</span>
            }
            else
            {
                <span><strong>Visited:</strong> @startDate - @endDate</span>
            }
        </div>
        <div>
            @if (Model.Notes != null)
            {
                <strong>Notes:</strong> @Html.DisplayFor(model => model.Notes)
            }
        </div>
    </div>
    <div class="text-center my-2 my-sm-0">
        <a asp-controller="Places" asp-action="Create" asp-route-cityId="@Model.Id" class="btn btn-primary">Add Place</a>
        <br />
        <span class="small_links"><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a></span>
    </div>
</div>

<div class="row places_container mt-4">
    <div class="card-columns">

        @foreach (var place in Model.Places)
        {

            <div class="card">
                <div class="place_card d-flex justify-content-between">
                    <div class="left pr-2">

                        <div class="d-flex align-items-center mb-3">
                            @if (place.Subcategory.IconUrl != "")
                            {
                            <img src="@place.Subcategory.IconUrl" width="30" class="mr-2" />
                            }
                            <h6 class="mb-0">@Html.DisplayFor(modelItem => place.Name)</h6>
                        </div>
                        

                        @if (place.StartDate == place.EndDate)
                        {
                            <p><strong>Visit Date:</strong> @Html.DisplayFor(modelItem => place.StartDate)</p>
                        }
                        else
                        {
                            <p><strong>Visit Date:</strong> @Html.DisplayFor(modelItem => place.StartDate) - @Html.DisplayFor(modelItem => place.EndDate)</p>
                        }

                        @if (place.Location != null)
                        {
                            <p><strong>Location:</strong> @Html.DisplayFor(modelItem => place.Location)</p>
                        }

                        @if (place.Notes != null)
                        {
                            <p><strong>Notes:</strong> @Html.DisplayFor(modelItem => place.Notes)</p>
                        }
                    </div>

                    <div class="right">
                        @if (place.Favorite == true)
                        {
                            <div class="text-danger"><i class="fas fa-heart"></i></div>
                        }

                        @if (place.PlaceUrl != null)
                        {
                            <div class="icon"><a href="@place.PlaceUrl" target="_blank"><i class="fas fa-link"></i></a></div>
                        }

                        <div class="icon">
                            <a asp-controller="Places" asp-action="Edit" asp-route-id="@place.Id"><i class="fas fa-edit"></i></a>
                            <br />
                            <a asp-controller="Places" asp-action="Delete" asp-route-id="@place.Id"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
