@model IEnumerable<TripTrak.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>Friends</h1>
    <div>
        <a asp-action="FriendSearch" class="btn btn-primary">Add Friend</a>
    </div>
</div>

<div class="request_container">
    @*<h5>Friend Requests</h5>*@
    <table class="table-borderless">
        <tbody>
            @await Component.InvokeAsync("FriendRequests")
            @await Component.InvokeAsync("PendingRequests")
        </tbody>
    </table>
</div>


<div class="row friends_container">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="friend_card">
                <div class="d-flex justify-content-between">
                    <h4>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </h4>
                    <div>
                        <a asp-action="Delete" asp-route-friendId="@item.Id" class="text-danger"><i class="fas fa-times-circle"></i></a>
                    </div>
                </div>
                @foreach (Trip trip in item.TripList)
                {
                    <h6>
                        @trip.Name
                    </h6>
                    <div class="friends_cities d-flex align-items-center flex-wrap mb-3">
                        @foreach (City city in trip.Cities)
                        {
                            <a asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id"><div>@city.Name</div></a>
                        }
                    </div>
                }
            </div>
        </div>

    }
</div>

