@model TripTrak.Models.Place

@{
    ViewData["Title"] = "Create";
}

<script src="/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Choose a category</option>";
            $('#SubcategoryId').html(items);
        });
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#CategoryId').change(function () {
                var url = '@Url.Content("~/")' + "Places/GetSubcategory?CategoryId=" + $('#CategoryId').val();
                var ddlsource = "#CategoryId";
                $.getJSON(url, { CategoryId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#SubcategoryId").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $('#SubcategoryId').html(items);
                });
            });
        });
</script>

<h1>@Model.City.Name</h1>

<h4>Add Place</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-cityId="@Model.CityId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceUrl" class="control-label"></label>
                <input asp-for="PlaceUrl" class="form-control" />
                <span asp-validation-for="PlaceUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" rows="6" cols="50"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorite" /> @Html.DisplayNameFor(model => model.Favorite)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label> <span class="text-danger">*</span>
                <select id="CategoryId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListofCategory,"Id", "Name"))"></select>
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label> <span class="text-danger">*</span>
                <select asp-for="SubcategoryId" class="form-control" id="SubcategoryId" name="SubcategoryId"
                        asp-items="@(new SelectList(string.Empty,"Id", "Name"))"></select>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-controller="Cities" asp-action="Details" asp-route-id="@Model.CityId" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
            <div>
                <span class="text-danger">* Required field</span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
