@*@model TripTrak.Models.Place*@
@model TripTrak.Models.ViewModels.CategorySubcategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#Category_Id').change(function () {
                var url = '@Url.Content("~/")' + "Places/GetSubcategory?CategoryId=" + $('#Category_Id').val();
                var ddlsource = "#Category_Id";
                $.getJSON(url, { CategoryId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#Place_SubcategoryId").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    //$('select option[value=${subcatId}]').attr("selected", true);
                    $('#Place_SubcategoryId').html(items);
                });
            });
        });
</script>

<h1>Edit Place</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Place.Id" />
            <input type="hidden" asp-for="Place.CityId" />
            <div class="form-group">
                <label asp-for="Place.Name" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="Place.Name" class="form-control" />
                <span asp-validation-for="Place.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.Location" class="control-label"></label>
                <input asp-for="Place.Location" class="form-control" />
                <span asp-validation-for="Place.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.StartDate" class="control-label"></label>
                <input asp-for="Place.StartDate" class="form-control" type="date" />
                <span asp-validation-for="Place.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.EndDate" class="control-label"></label>
                <input asp-for="Place.EndDate" class="form-control" type="date" />
                <span asp-validation-for="Place.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.PlaceUrl" class="control-label"></label>
                <input asp-for="Place.PlaceUrl" class="form-control" />
                <span asp-validation-for="Place.PlaceUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.Notes" class="control-label"></label>
                <textarea asp-for="Place.Notes" class="form-control" rows="6" cols="50"></textarea>
                <span asp-validation-for="Place.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Place.Favorite" /> @Html.DisplayNameFor(model => model.Place.Favorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category.Id" class="control-label"></label> <span class="text-danger">*</span>
                <select asp-for="Category.Id" class="form-control" asp-items="@Model.CategoryOptions"></select>
                <span asp-validation-for="Category.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place.SubcategoryId" class="control-label"></label> <span class="text-danger">*</span>
                <select asp-for="Place.SubcategoryId" class="form-control" asp-items="@Model.SubcategoryOptions"></select>
                <span asp-validation-for="Place.SubcategoryId" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-controller="Cities" asp-action="Details" asp-route-id="@Model.Place.CityId" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
            <div>
                <span class="text-danger">* Required field</span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
